    .card {
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 12px;
        padding: 10px;
        background-color: #fff;
        width: 30%;
    }

    .card-header {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .card-body {
        font-size: 12px;
    }

.card-footer-duedate {

}
