@rendermode InteractiveServer

<div class="card">
    <div class="card-header">
        @Item.Title
    </div>
    <div class="card-body">
        <div class="card-footer">
            <span class="card-footer-priority">Priority: @Item.Priority</span>
            <span class="card-footer-duedate">Due Date: @(Item.DueDate.HasValue ? Item.DueDate.Value.ToShortDateString() : "Not specified")</span>
        </div>
    </div>
</div>



@code {
    [Parameter]
    public TodoItem Item { get; set; }

}
