@rendermode InteractiveServer

<div class="align-items-center">
    
    @foreach (var item in items)
    {
        <TodoElementMini Item="item" ItemChanged="ItemChanged"></TodoElementMini>
        @* @if (CardStyle=="standart")
        {
            <Todoelement Item="item" ItemChanged="ItemChanged"></Todoelement>
        }
        else if (CardStyle=="mini")
        {
            <TodoElementMini Item="item" ItemChanged="ItemChanged"></TodoElementMini>
        } *@
    }
</div>


@code {
    [Parameter]
    public IEnumerable<TodoItem> items { get; set; } = default!;

    [Parameter]
    public EventCallback<TodoItem> ItemChanged { get; set; }

    [Parameter]
    public string CardStyle { get; set; } = "mini";

}
