@rendermode InteractiveServer

<div class="viewitems-body">
    
    @foreach (var item in items)
    {
        <Todoelement Item="item" ItemChanged="ItemChanged"></Todoelement>
    }
</div>


@code {
    [Parameter]
    public IEnumerable<TodoItem> items { get; set; } = default!;

    [Parameter]
    public EventCallback<TodoItem> ItemChanged { get; set; }

}
