@page "/about"
@rendermode InteractiveServer

<PageTitle>About Todo</PageTitle>

<div class="container my-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card shadow">
                <div class="card-header bg-secondary text-white">
                    <h3 class="mb-0">About Todo</h3>
                </div>
                <div class="card-body">
                    <p class="lead">This is my project for learning Blazor framework.</p>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="images/profile.jpg" class="img-fluid rounded-circle mb-3" alt="Profile Picture">
                        </div>
                        <div class="col-md-9">
                            <h4>Yury Filionchyk</h4>
                            <p>Software Engineer</p>
                            <p>I am a passionate software developer with experience in various technologies, including .NET, Blazor, and frontend frameworks. This Todo List project is a part of my journey to learn and master Blazor, a modern web framework for building interactive and responsive applications.</p>
                            <div class="d-flex align-items-center mb-3">
                                <i class="bi bi-envelope me-2"></i>
                                <span>yura.filionchik@gmail.com</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-github me-2"></i>
                                <a href="https://github.com/YuraFilionchik" target="_blank">GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>