@page "/"
@using Microsoft.AspNetCore.Components.QuickGrid
@using TodoList.Components.Pages.TodoItemPages
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Welcome</PageTitle>
<h2>ToDo list</h2>
<div>
    <button class="btn-addnew" @onclick="ShowModalAddNew">Add New item</button>
</div>
Show deleted items:<InputCheckbox @bind-Value="DisplayDeletedItems"></InputCheckbox>
<br />
<CascadingValue Value="DisplayDeletedItems">
    <Index  @bind-itemgrid="itemgrid" />
</CascadingValue>

<p>Display deleted (HOME) = @DisplayDeletedItems</p>

@code {

    public bool DisplayDeletedItems { get; set; }

    [CascadingParameter] public IModalService BlazoredModal { get; set; } = default!;

    ViewItems itemgrid;

    async Task ShowModalAddNew()
    {        
        var messageForm = BlazoredModal.Show<Additem>();
        var result = await messageForm.Result;
       // itemgrid.RefreshData();
    }

    public  void IndexDataChanged(string data)
    {
        if (data == "DeletedItem")
        {
            //Task.Delay(700);
            //StateHasChanged();
        }
    }
}