@page "/"
@using Microsoft.AspNetCore.Components.QuickGrid
@using TodoList.Components.Pages.TodoItemPages
@inject NavigationManager NavigationManager
@inject TodoList.Data.ApplicationDbContext DB
@rendermode InteractiveServer

<PageTitle>Welcome</PageTitle>
<h2 class="d-flex justify-content-center mb-4">Your ToDo list</h2>
<Search @bind-Text="search"/>
<div class="d-flex justify-content-center mb-4">
    <button class="myButton" @onclick="ShowModalAddNew">
        New
    </button>
</div>
Show deleted items:<InputCheckbox @bind-Value="DisplayDeletedItems"></InputCheckbox>
<br />
<CascadingValue Value="DisplayDeletedItems">
    <Index  @bind-itemgrid="itemgrid" searchText=@search />
</CascadingValue>

@code {

    public bool DisplayDeletedItems { get; set; }

    public string search { get; set; } = string.Empty;

    [CascadingParameter] public IModalService BlazoredModal { get; set; } = default!;

    ViewItems itemgrid;

    IEnumerable<string> Tags{
        get
        {
            return DB.TodoItem
                     .SelectMany(item => SplitTags(item.Tags))
                 .Distinct();
        }
    }

    IEnumerable<string> SplitTags(string str)
    {
        return str.Split(',');
    }

    async Task ShowModalAddNew()
    {        
        var messageForm = BlazoredModal.Show<Additem>();
        var result = await messageForm.Result;
       // itemgrid.RefreshData();
    }

    public  void IndexDataChanged(string data)
    {
        if (data == "DeletedItem")
        {
            //Task.Delay(700);
            //StateHasChanged();
        }
    }
}